# Logs
*.log

# Dependency directory
node_modules

# Trash
.DS_Store
.idea

# ESLint caches
.eslintcache

# Screenshots
tests/e2e/errorshots

# Dynamically processed files
reports
build
i18n

# Mocks
!__mocks__/nordic/i18n

#dev container
.devcontainer/
